name: Build go2rtc for armv5-homeassistant

on: 
  workflow_dispatch:
  repository_dispatch:
    types: Build go2rtc for armv5-homeassistant

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24.0'

    - name: Build
      run: |
        export TAG=$(curl --silent https://api.github.com/repos/home-assistant/core/releases | jq -r 'map(select(.prerelease==false)) | first | .tag_name')
        export GO2RTC=$(curl -s https://raw.githubusercontent.com/home-assistant/core/refs/tags/$TAG/Dockerfile | grep -oP 'curl -L https://github.com/AlexxIT/go2rtc/releases/download/v\K[0-9.]+')
        echo $GO2RTC >> go2rtc_ver.txt

        git clone -b "v${GO2RTC}" https://github.com/AlexxIT/go2rtc/
        cd go2rtc

        export GOOS=linux
        export GOARCH=arm
        export GOARM=5
        FILENAME="go2rtc_linux_armv5"
        go build -ldflags "-s -w" -trimpath -o $FILENAME && upx --lzma --force-overwrite -q --no-progress $FILENAME
        
        mv $FILENAME ../$FILENAME
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: go2rtc
        path: |
          ./go2rtc_linux_armv5
          ./go2rtc_ver.txt
    - name: Dispatch armv5-homeassistant
      run: |
        sleep 90
        curl -XPOST -u "${{ secrets.DOCKER_USERNAME }}:${{ secrets.WHEELS_TOKEN }}" -H "Accept: application/vnd.github.everest-preview+json" -H "Content-Type: application/json" https://api.github.com/repos/rara64/armv5-homeassistant/dispatches --data '{"event_type": "Build armv5-homeassistant"}'
